html, body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  font-family: verdana, sans-serif;
}
.head{
    height: 6vh;
    background-color: #292929;
}
#logo{
    height : 6vh;
    position:relative;
    left : 38vh;
}
#Login{
    color: whitesmoke;
    position:relative;
    top: -15px;
    left : 66vw;
    font-size: 21px;
}
.container{
    width: 1000px;
    position:relative;
    left : 18vw;
}

#idk{
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
}
.real{
    padding : 2px;
    text-decoration: none;
    color: #000099;
}
#check{
    background-color: rgb(215, 212, 212);
    padding-right:5px;
    padding-left: 5px;
    border-radius: 6px;
    color:black
}

#box1{
    background-color: #8ef39a;
    padding : 5px;
    box-shadow: 2px 4px 4px black;
    border-radius: 2px;
}
#box2{
    background-color: #94b5ec;
    padding : 5px;
    box-shadow: 2px 4px 4px black;
    border-radius: 6px;
}
#box3{
    background-color:#ffd996;
    padding : 5px;
    box-shadow: 2px 4px 4px black;
    border-radius: 6px;
}
#box4{
    background-color: #ff9b96;
    padding : 5px;
    box-shadow: 2px 4px 4px black;
    border-radius: 6px;
}

.box{
  padding : 5px;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;                   
  margin-top: 20px;
  height: 750px;
}

ul{
  list-style-type: disc;
  margin: 10px 0 10px 20px;
  padding: 0;
}
.line{
    border: none;
    background-color: black;
    height: 2px;
}
